page-home {
  ion-content {
    text-align: center !important;
  }

  ion-input {
    text-align: center;
    margin: auto;
    border: 1px solid gray;
    border-radius: 5px;
    width: 45%;
  }

  ion-input [placeholder] {
    text-align: center;
  }

  button {
    font-weight: bold;
  }

  #futer {
    font-size: 10px;
    text-align: center;
    width: auto;
  }

  #bigIcon {
    font-size: 13em;
    font-weight: bold;
  }
}
