<ion-header>
  <ion-navbar color="myDark">
    <ion-title>Streets</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="toggleSearchbar()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-searchbar *ngIf="searching" placeholder="Start searching">
  </ion-searchbar>

</ion-header>

<ion-content padding>

  <!-- Show everything as list -->

  <ion-list>
    <ion-item (click)="showHouseholds(street)" *ngFor="let street of streets">
      <p><b>{{street.name}}</b></p>
      <!-- <p id="sifra">šifra: {{item.komu}}</p> -->
      onic <p id="sifra">id: {{substring(street.komunsifra, 4)}}</p>
    </ion-item>
  </ion-list>

  <!-- Show everything as grid -->

  <!-- <ion-grid *ngFor="let item of dbData">
    <ion-row>
      <ion-col col-8 id="kolona8"><b>{{item.ulica}}</b></ion-col>
      <ion-col col-4 id="kolona4">
        <span id="sifra2">ŠIFRA</span>
        <span>{{item.komu}}</span>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>
